@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

p, a, li, td, th, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.header, .header .container {
    width: 100%;
    height: 80px;
    background-color: #FFF !important;
    position: relative;
    padding: 0;
}

.header .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header .search input {
    width: 100%;
    height: 55px;
    background: rgba(41, 45, 50, 0.06);
    border-radius: 20px;
    border: none;
}

.header .search input:focus {
    outline: none;
}

.header .search .icon {
    position: absolute;
}
  
.header .search .icon {
    padding-left: 20px;
    padding-top: 17px;
}
  
.header .search .input-field {
    padding-left: 50px;
}

.menu-icons {
    font-size: 35px;
    padding: 0 30px;
    transition: transform .2s;
}

.header .active {
    color: #4663F6;
    text-decoration: underline;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .p-header {
        display: none !important;
    }
    
    .m-menu {
        bottom: 0 !important;
        position: fixed !important;
        width: 100% !important;
        background-color: #FFF;
        transition: transform .2s;
    }

    .m-menu .active {
        color: #4663F6;
        transform: scale(1.1);
    }

    .header, .header .container {
        height: 60px;
    }

    .img-rounded {
        border-radius: 50% !important;
        border: 3px solid #4663F6;
    }

    .owl-dots {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .m-header {
        display: none !important;
    }

    .m-menu {
        display: none !important;
    }

    .m-story {
        display: none !important;
    }
}