@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

p, a, li, td, th, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.m-10 {
    margin: 10px 10px 70px 10px;
}

.mb-10 {
    margin-bottom: 50px;
}

.header, .header .container {
    width: 100%;
    height: 80px;
    background-color: #FFF !important;
    position: relative;
    padding: 0;
}

.header .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .search input {
    width: 100%;
    height: 55px;
    background: rgba(41, 45, 50, 0.06);
    border-radius: 20px;
    border: none;
}

.header .search input:focus {
    outline: none;
}

.header .search .icon {
    position: absolute;
}
  
.header .search .icon {
    padding-left: 20px;
    padding-top: 17px;
}
  
.header .search .input-field {
    padding-left: 50px;
}

.menu-icons {
    font-size: 35px;
    padding: 0 7%;
    transition: transform .2s;
}

.header .active {
    color: #4663F6;
    text-decoration: underline;
    transform: scale(1.1);
}

.section-hide {
    display: none;
}

.show {
    display: block;
}

@media screen and (max-width: 768px) {
    .p-header {
        display: none !important;
    }
    
    .m-menu {
        left: 0 !important;
        right: 0 !important;
        z-index: 99 !important;
        position: fixed !important;
        display: flex;
        justify-content: space-evenly;
    }

    .menu {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0 !important;
        width: 100% !important;
        background-color: #FFF;
        transition: transform .2s;
        text-align: center;
    }

    .m-menu .active {
        color: #4663F6;
        transform: scale(1.1);
    }

    .header, .header .container {
        height: 60px;
    }

    .img-rounded {
        border-radius: 50% !important;
        border: 3px solid #4663F6;
    }

    .owl-dots {
        display: none !important;
    }

    .card {
        background: #FFF;
        padding: 20px;
        width: 100%;
        height: max-content;
        position: relative;
        margin-bottom: 15px;
    }

    .card .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .profile_img {
        position: relative;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 8px;
    }
    
    .userDetails h3 {
        font-size: 16px !important;
        color: #4d4d4f;
        line-height: 1em !important;
    }

    .userDetails h3 span {
        font-size: 0.75em !important;
    }

    .dot {
        transform: scale(0.6);
        cursor: pointer;
    }

    .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .imgBx {
        margin-top: 10px;
    }

    .actionBtns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .actionBtns i {
        font-size: 25px;
        cursor: pointer;
    }

    .likes {
        font-weight: 500 !important;
        margin-top: 5px;
        font-size: 16px !important;
        color: #4d4d4f;
    }

    .message {
        font-weight: 400 !important;
        font-size: 15px !important;
        margin-top: 5px;
        color: #777;
        line-height: 1.5em !important;
    }

    .message b {
        color: #262626
    }

    .message span {
        color: #4663F6;
    }

    .comments {
        font-weight: 400 !important;
        font-size: 14px !important;
        margin-top: 10px;
        color: #999;
    }

    .postTime {
        font-weight: 500 !important;
        color: #777 !important;
        font-size: 16px !important;
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .m-header {
        display: none !important;
    }

    .m-menu {
        display: none !important;
    }

    .m-story {
        display: none !important;
    }

    .m-post {
        display: none !important;
    }
}